AddTamarinPath {
    layout: vertical;
    height: auto;
    width: 100%;
}

.add-path-title {
    dock: top;
    width: 100%;
    height: 3;
    content-align: center middle;
    text-style: bold;
    background: blue;
    color: white;
}

.add-path-container {
    height: auto;
    width: 100%;
    padding: 1;
}

.input-row {
    layout: horizontal;
    height: 3;
    width: 100%;
}

.path-input {
    width: 1fr;
    margin: 0 1 0 0;
}

.add-btn {
    width: 15;
    min-width: 15;
}
