.tamarin-card {
    layout: vertical;
    border: solid white;
    padding: 1;
    margin: 1 0;
    height: auto;
    width: 100%;
}

.tamarin-card:focus-within {
    border: solid blue;
}

.card-header {
    layout: horizontal;
    height: 3;
}

.card-row {
    layout: horizontal;
    height: 2;
}

.label {
    width: 10;
    text-style: bold;
    color: white;
}

.path-value {
    width: 1fr;
    color: white;
}

.test-value {
    width: 1fr;
}

.test-success {
    color: green;
}

.test-failed {
    color: red;
}

.version-value {
    width: 1fr;
}

.version-valid {
    color: green;
}

.version-invalid {
    color: yellow;
}

.delete-btn {
    width: 4;
    min-width: 4;
}
