annotated-types==0.7.0
autoflake==2.3.1
black==25.1.0
cffi==1.17.1
cfgv==3.4.0
click==8.1.8
distlib==0.3.9
editdistance_s==1.0.0
filelock==3.18.0
flit_core==3.12.0
identify==2.6.12
iniconfig==2.1.0
isort==6.0.1
markdown-it-py==3.0.0
mdurl==0.1.2
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.7
pluggy==1.5.0
pre_commit==4.2.0
psutil==7.0.0
pycparser==2.22
pydantic_core==2.33.0
pydantic==2.11.1
pyflakes==3.3.2
Pygments==2.19.1
pytest==8.3.5
PyYAML==6.0.2
rich==14.0.0
setuptools==78.1.0.post0
shellingham==1.5.4
toml==0.10.2
typer==0.15.2
typing_extensions==4.13.2
typing-inspection==0.4.0
ukkonen==1.0.1
virtualenv==20.30.0
wheel==0.45.1
